@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hide horizontal scroll */
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.background-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f7;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-container {
  display: flex;
  width: 50vw; 
  height: 35vw; 
  box-shadow: 0px 0px 50px -35px rgba(0, 0, 0, 0.5); 
}

.left-container, .right-container {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container {
  background-image: url('/Wolt_media_kit.jpeg');
  background-size: cover;
  background-position: center;
}

.right-container {
  width: 60%;
  background-color: #fff;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.form-container {
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  width: 50%;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-field label {
  font-size: 16px;
  margin-bottom: 5px;
}

.form-field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.submit-button {
  padding: 10px;
  background-color: #009DE0;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #000000;
}

.error-message {
  color: red;
  font-size: 16px;
}

[data-test-id="fee"] {
  font-size: 18px;
  font-weight: 400;
}

.fee-value {
  font-weight: bold;
}
